@media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
}
.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}
@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row2 {
    display: table-row;
    background: #f6f6f6;
}
.row2:nth-of-type(odd) {
    background: #e9e9e9;
}
.row2.header {
    font-weight: 900;
    color: #ffffff;
    background: #34495e;
}
.row2.green {
    background: #27ae60;
}
.row2.blue {
    background: #2980b9;
}
@media screen and (max-width: 580px) {
    .row2 {
        padding: 14px 0 7px;
        display: block;
    }
    .row2.header {
        padding: 0;
        height: 6px;
    }
    .row2.header .cell {
        display: none;
    }
    .row2 .cell {
        margin-bottom: 10px;
    }
    .row2 .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}
@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block;
    }
}

